!!! 5
%html
  %head
    %title= title
    %link(rel="stylesheet" type="text/css" href="css/bootstrap.css")
    %link(rel="stylesheet" type="text/css" href="css/style.css")
    %link(rel="stylesheet" type="text/css" href="css/_pygments_github.css")
  %body

    .container
      = output
      
